# ==============================
# Dataset
# ==============================

# Do not upload the PhysioNet EEG dataset
data/


# ==============================
# Python environments
# ==============================

.venv/
venv/
env/


# ==============================
# Python cache
# ==============================

__pycache__/
*.py[cod]
*$py.class


# ==============================
# Environment variables / secrets
# ==============================

.env
.env.*
*.key
*.pem


# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/


# ==============================
# IDE / editor
# ==============================

.vscode/
.idea/


# ==============================
# Operating system files
# ==============================

.DS_Store
Thumbs.db


# ==============================
# Intermediate generated dataset
# ==============================

results/tables/eeg_features.csv


# ==============================
# Temporary files
# ==============================

*.log
*.tmp
*.bak